[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
camworker = {path = "."}
fakeredis = "*"

[packages]
redis = "*"
opencv-python = "*"
numpy = "*"

[requires]
python_version = "2.7"
